@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');


body{

box-sizing: border-box;
margin:0;
padding: 0%;
background-color: azure;
font-family: 'Montserrat', sans-serif;

}

#title{
    background-color: #ff4c68;
    color: white;
    height: 300%;
    z-index: 0;
    text-align: center;
}
.titleNav{
    padding: 4% 15% ;
}
.navHead{
    margin-bottom: 3%;

}

.navHead h3 a{
font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 2.3rem;
    color: white;
   
}
.navHead ul li a{
    color: rgb(207, 204, 204);
    font-size: 1.2rem;
    margin-left: 2rem;
}

.navHead ul li a:hover{
    color: azure;
  text-decoration: underline white;

}
.navHero{
    text-align: left;
    padding: 4% 0%;
}

.navHero h1{
     
     font-family: 'Montserrat';
    line-height: 1.6;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    padding-top: 2rem;

}
.btn-download{
    text-align: left;
    margin: 1rem 0.7rem;
}
.btn-download i{
     margin-right: 0.8rem;
}

.iphoneImg{
   
    width:18%;
    position: absolute;
    margin-left: 4rem;
    padding:  0%;
    transform: rotate(20deg);
    z-index: 1;
    top: 32%;
    right:22%
  
}
#features{
    background-color: aliceblue;
    padding: 7% 15%;
    position: relative;
    max-width: 100%;
     z-index: 2;
     text-align: center;
}

.card{
    height: 10rem;
    background-color: transparent;
    border:none;
    margin:2rem 
}

.card i{
    font-size: 4rem;
    color: #fa677d;
    margin: 2% 0%;
}

.card h3{
    color:rgb(71, 66, 66) ;
    font-family:'Montserrat';
    font-size: 1.6rem;
}

.card p{
    color: rgb(141, 141, 143);
}



#testimonials{
  background-color: #ef8172;
  text-align: center;
  padding: 7% 15%;
}
#testimonials img{
    
    border-radius: 100%;
     height: 170px;
     width: 170px;
    display: block;
    margin: 4% auto 2% auto;
}
#press{
  background-color: #ef8172;
  text-align: center;

}

#press img{
    width: 15%;
    margin: 20px 20px 50px
}

#pricing{
    margin: 6% 0 11% 0;
    text-align: center;
}
.price-card{
    height: 350px;
    margin: auto;
   
}
#pricing h2{
    font-family:'Montserrat';
    font-size: 1.6rem;
    
}


.card-header{
    background-color: #ef8172;
}
.card-body{
    background-color: rgba(245, 180, 146, 0.238);
    
}

#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 4% 15% ;

}

#cta h3{
    font-family: 'Montserrat';
    line-height: 1.6;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    padding-top: 2rem;
}

#cta button{
    margin: 7% 4%;
   padding: 1% 4%;
}
#cta button i{
    color: white;
    margin-left: 0%;
}


#footer{
    padding: 10% 0%;
    text-align: center;
}

#footer i{
  color: #fa677d;
  font-size: 25px;
  margin-left: 2%;
  padding: 3% 0%;
}

#footer p{
    font-family: 'Montserrat';
    color:rgba(53, 51, 51, 0.749) ;
}





@media (max-width:990px) {
    .iphoneImg{
        width:60%;
        position: relative;
        transform: rotate(0);
        top:3%;
    }
}

@media(max-width:993px){
  .price-card  {
      margin-bottom: 2%;
    }
}